[project]
	description = just testing
[access "refs/*"]
	owner = group user/Ellotris (Ellotris)
[access "refs/for/refs/*"]
	read = group user/Ellotris (Ellotris)
	push = group user/Ellotris (Ellotris)
	label-Code-Review = -2..+2 group user/Ellotris (Ellotris)
	label-Verified = -1..+1 group user/Ellotris (Ellotris)
	rebase = group user/Ellotris (Ellotris)
	removeReviewer = group user/Ellotris (Ellotris)
	submit = group user/Ellotris (Ellotris)
	exclusiveGroupPermissions = submit
[access "refs/heads/*"]
	read = group user/Ellotris (Ellotris)
	create = group user/Ellotris (Ellotris)
	push = +force group user/Ellotris (Ellotris)
	pushMerge = group user/Ellotris (Ellotris)
[access "refs/tags/*"]
	push = +force group user/Ellotris (Ellotris)
	pushTag = group user/Ellotris (Ellotris)
	pushSignedTag = group user/Ellotris (Ellotris)
[receive]
	requireChangeId = false
[submit]
	action = merge always
